.navbar {
    color: white;
    font-family: "Source Sans Pro", sans serif;
    font-size: 16px;
    background-color: #3d131f;
}
header {
    color: #f06e9c;

}
#motto {
    color: #f06e9c;
}
#yourCart {
    color: white;
    background-color: #f06e9c;
    font-style: Source Sans Pro, sans serif;
    font-size: 16px;
}
.homeImages {
    background-color: #3d131f
}

#homeShopbtn {
    color: #f06e9c;
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
}
h2 {
    color: #f06e9c;
    font-style: Ledger;
}

#homeImagesSmall {
    padding-right:10px;
    background-color: #3d131f;
}
h3 {
    color: #f06e9c;
}
#courselLabel {
    font-family: Source Sans;
    font-size: 18px;
    color: #f06e9c;
}
.birthdayClubDiv {

    color: #f06e9c;
    font-family: Lato, sans serif;
    font-size: 40px;
}
/* I wanted the p element to be a different color and smaller in the birthdayclubdiv */

#shopPromotion, h2 {
    font-family: Lato;
    color: #f4eb49;
}
.rollDisplay {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: white;
    background-color: #3d131f;
}
#featuredProducts {
    background-color: #3d131f;
}
.img-fluid {
    max-width: 100%;
    height: auto;
} 
p {
    color: white;
    font-family: Source Sans Pro;
    font-size: 16px;
}
.carouselCaption {
    color: white;
}
.carouselSlide {
    background-color: #3d131f;
}