
.navbar-dark {
    color: white;
    font-family: "Source Sans Pro", sans serif;
    font-size: 16px;
    background-color: #55071d;
}
header {
    color: #f06e9c;
    padding-bottom: 100px;

}
#motto {
    color: #f06e9c;
    
}
#yourCart {
    color: white;
    background-color: #f06e9c;
    font-style: Source Sans Pro, sans serif;
    font-size: 16px;
}
#homeImages {
    background-color: #3d131f;
    padding-right: 20px;
    padding-bottom: 80px;
}

#homeShopbtn {
    color: #f06e9c;
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
}
h2 {
    color: #f06e9c;
    font-style: Ledger;
}

#homeImagesSmall {
    padding-right:10px;
    background-color: #3d131f;
    
}
h3 {
    color: #f06e9c;
}
#courselLabel {
    font-family: Source Sans;
    font-size: 18px;
    color: #f06e9c;
}
.birthdayClubDiv {
    color: #f06e9c;
    font-family: Lato, sans serif;
    font-size: 40px;
}
/* I wanted the p element to be a different color and smaller in the birthdayclubdiv */

#shopPromotion, h2 {
    font-family: Lato;
    color: #f4eb49;
}
.rollDisplay {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: white;
    background-color: #3d131f;
    padding-top: 60px;
    padding-bottom: 30px;
}
#featuredProducts {
    background-color: #3d131f;
} 
p {
    color: white;
    font-family: Source Sans Pro;
    font-size: 16px;
}
.carouselCaption {
    color: white;
}
.carouselSlide {
    background-color: #3d131f;
}
header {
    font-family: Limelight;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submitShopbtn {
    background-color: #f06e9c;
    color: 3d131f;
}
#inputShopbtn {
    background-color: red; 
    color: #f06e9c;
    font-size: 20px;
}
#shopNowbtn {
    margin-top: 100px;
    color:#f06e9c
}
h3 {
    font-family: Sansita Swashed, Sansita, sans serif;
    color: #f06e9c;
    font-size: 36px;
}
#shopPhotos {
    padding-right: 8px;
}
#browseButton {
    padding: white;
    color: f06e9c;
    font-family: Source Sans Pro, sans serif;
    font-size: 18px;
}
.inputBox {
    color: 3d131f;
    font-family: Source Sans Pro;
    font-size: 18px;
}
span {
    font-family: Lato, sans serif;
    font-size: 40px;
    color: #f06e9c;
}
.home-images {
    max-width: 100%;
    height: auto;
    margin-right: 40px;
    margin-bottom: 100px;
}
.title {
    color: white;
    font-style: Lustria;
    background-color:#3d131f;
} 
.carousel-caption {
    color:#f06e9c;
}
.left-div {
    float: left;
}
.right-div {
        float: left;
}

.div-example {
    width: 50px;
    display: inline-block;
}
.image-title {
    width: 50px;
    display: inlne-block;
    justify-content: center;
}
.thumbnail {
    width: 50px;
    display: block;
    vertical-align: text-bottom;
}